*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: #fffdf3;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 74px;
    background-color: #fff;
    box-shadow: 20px 10px 40px rgba(62, 67, 74, 0.31);
}

.logo img{
    width: 180px;
    height: 62px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 20px;
    
}

.hamburger span{
    width: 25px;
    background-color: #333333ad;
    height: 3px;

}

.card {
    position: relative;
    width: 370px;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    color: white;
    margin: 28px auto;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(20%);
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 32px;
    
}

.overlay h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    padding: 0 20px;
}

.overlay p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 1.5;
    text-align: center;
}

.overlay button {
    background-color: #3ECF4C;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.header-beranda{
    text-align: left;
    margin-top: 20px;
    padding: 0 20px;
    
}

.header-beranda h1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
    color: black;
    margin-bottom: 10px;
    line-height: 1.2;
}

.header-beranda p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1.5;
    text-align: left;
    color: #333333;
}

.navbar{
    width: 100%;
    height: 52px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 20px;
    gap: 40px;
}

.navbar a{
    font-size: 15.5px;
    font-weight: 500;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    flex: 0 0 auto;
    margin: 0 auto;
    position: relative;

}

.navbar a.active{
    color: #F64920;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 33px;
    transform: translateX(-50%);
    width: 62px; /* Lebar garis */
    border-bottom: 6px solid #F64920;
    bottom: 10px;
}


/* content */
.content-beranda {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 1px solid rgba(58, 53, 65, 0.12);
    border-radius: 12px;
    padding: 25px;
    width: 370px;
    height: 177px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.top-section {
    display: flex;
    gap: 15px;
}

.content-img {
    width: 92px;
    height: 92px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex: 1;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #222325;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.profile-info span {
    font-weight: 500;
    font-size: 13px;
}

.profile-info p {
    font-size: 11px;
    color: rgba(51, 51, 51, 0.7);
    margin: 0;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating img {
    width: 90px;
}

.rating p {
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7);
    
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #3ECF4C;
}


/* NEWSLTTER */
.overlay .newsletter {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #C1C2C4;
    justify-content: center;
}

.overlay .subscribe {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    background-color: #FFBD3A;
    justify-content: center;
}
.overlay input{
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

