* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #fffdf3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 20px 10px 40px rgba(62, 67, 74, 0.31);
}

.logo img {
  width: 100%;
  padding: 16px 24px;
}

.form-wrapper {
  background-color: #fff;
  width: 320px;
  height: 966px;
  border: 1px #f1f1f1 solid;
  border-radius: 4px;
  margin: 50px auto;
  padding: 20px;
}

.form-header h1 {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.required {
  color: red;
}

.form-header p {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333ad;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 20px;
  color: #333333ad;
  font-size: 14px;
  position: relative;
}

label {
  margin-bottom: 5px;
}

input {
  width: 280px;
  height: 48px;
  padding: 10px;
  border: 1px solid #3a35411f;
  border-radius: 6px;
}

.gender {
  width: 280px;
  height: 48px;
  padding: 10px;
  border: 1px solid #3a35411f;
  border-radius: 6px;
  color: #333333ad;
}

.gender-option {
  color: #333333ad;
}

.country {
  display: flex;
  margin: 0 auto;
  font-size: 14px;
}

.country-code {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #3a35411f;
  border-radius: 6px;
  background-color: #1c466f;
}

.country-select {
  width: 50px;
  font-size: 14px;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #3a35411f;
  border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}

.country-code-img {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid #3a35411f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.country-code-img img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.number-input {
  width: 180px;
  height: 48px;
  border: 1px solid #3a35411f;
  border-radius: 6px;
  padding-left: 10px;
  margin-left: 6px;
}

.password-wrapper{
  position: relative;

}
.password-wrapper .eye{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.form-footer{
  margin-top: 20px;
  text-align: right;
  color: #333333ad;
  font-size: 14px;
}
.button{
  gap: 10px;
  margin-top: 10px;
}

.btn{
  width: 280px;
  height: 34px;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.daftar{
  background-color: #3ecf4c;
  color: #fff;
  border: 1px solid #3ecf4c;
  border-radius: 10px;
  font-weight: bold;
 
}

.masuk{
  background-color: #E2FCD9CC;
  color: #3ecf4c;
  border: 1px solid #3ecf4c;
  border-radius: 10px;
  font-weight: bold;
}

.or{
  margin: 20px 0;
  text-align: center;
  align-items: center;
  display: flex;
}

.or::before, .or::after{
  border-bottom: 1px solid #333333ad;
  content: "";
  flex: 1;
}

.or span{
  margin: 0 10px;
  color: #333333ad;
  font-size: 14px;
}

.register-google{
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  width: 280px;
  height: 34px;
  color: #333333ad;
  font-size: 14px;
  font-weight: 600;
  
}

.register-google img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* ------------------ DESKTOP ------------------ */
@media (min-width: 1024px) {
    .form-wrapper {
        width: 590px;
        height: 1000px;
        margin: 100px auto;
        padding: 40px;
    }

    .form-header h1 {
        font-size: 32px;
        text-align: left;
    }
    .form-header p {
        font-size: 16px;
        text-align: left;
    }

    .button {
        flex-direction: row;
    }
}